.value-box {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 12px;
}

.value-box .value {
  font-size: 1.5rem !important;
}

.value-box .title {
  font-size: 0.9rem !important;
}

.value-box .bi {
  font-size: 1.2rem !important;
}